<template>
	<div id="app">
		<app-header></app-header>

		<div class="ui vertical stripe segment" id="content">
			<div class="ui container">
				<router-view></router-view>
			</div>
		</div>

		<app-footer></app-footer>
	</div>
</template>

<script>
	import EventBus from "../event-bus.js"
	import AppFooter from "./AppFooter"
	import AppHeader from "./AppHeader"

	export default {
		name: "app",
		components: {
			AppFooter,
			AppHeader
		},
		created() {
			this.checkAuthentication()
		},
		methods: {
			checkAuthentication() {
				this.$http.post(this.apiUrl + "auth").then(function(response) {
					EventBus.$emit("authentication_status", response.body.auth_status)
				})
			}
		}
	}
</script>

<style lang="scss">
	* {
		outline: 0px;
	}
	
	.clear {
		clear: both;
	}

	.hidden {
		display: none;
	}

	a, a:hover, a:active, a:visited {
		color: inherit;
	}

	.ui.dimmer {
		background-color: rgba(0, 0, 0, .97);
	}

	#app {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	#content {
		border-bottom: none;
		flex: 1;
		padding: 5em 0em;
	}

	.clickable {
		cursor: pointer;
	}

	.top.seperated {
		margin-top: 5em;
	}

	.bottom.seperated {
		margin-bottom: 5em;
	}

	.subheader {
		color: rgba(0, 0, 0, 0.5);
		font-weight: initial;
	}
</style>
