<template>
	<div class="ui inverted vertical footer segment" id="footer">
		<div class="ui container">
			<div class="ui stackable inverted divided equal height stackable grid">
				<div class="eight wide column">
					<h4 class="ui inverted header">O serwisie</h4>
					<p>
						Niniejszy serwis jest aplikacją stworzoną z dwóch powodów:
						<button class="ui mini black button" v-on:click="toggleReadMore">
							<span v-if="!readMore">czytaj dalej</span>
							<span v-else>schowaj</span>
						</button>
					</p>
					<p v-if="readMore">
						a) chciałem nauczyć się nowej technologii, więc cały backend został napisany we frameworku Phalcon, a frontend powstał z wykorzystaniem javascriptowego frameworku Vue.js oraz web frameworku Semantic UI;
					</p>
					<p v-if="readMore">
						b) chciałem zmusić się do archiwizowania informacji o przeczytanych książkach, aby zmotywować się do częstszego sięgania po literaturę; bieżący rejestr prowadzę od początku 2017 roku.
					</p>
				</div>
				<div class="four wide column">
					<h4 class="ui inverted header">Linki na zewnątrz</h4>
					<div class="ui horizontal inverted link list">
						<a href="https://bitbucket.org/krewak/bookeshelf/" class="item" target="_blank"><i class="bitbucket icon"></i> Bitbucket</a>
						<a href="http://rewak.pl/" class="item" target="_blank"><i class="globe icon"></i> rewak.pl</a>
					</div>
				</div>
				<div class="four wide column">
					<h4 class="ui inverted header">Technologie</h4>
					<div class="ui horizontal inverted link list">
						<a href="https://phalconphp.com" class="item" target="_blank">Phalcon</a>
						<a href="https://vuejs.org" class="item" target="_blank">Vue.js</a>
						<a href="https://semantic-ui.com" class="item" target="_blank">Semantic UI</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	export default {
		data() {
			return {
				readMore: false,
			}
		},
		methods: {
			toggleReadMore: function() {
				this.readMore = !this.readMore
			}
		}
	} 
</script>

<style>
	.footer.segment {
		padding: 2em 0em;
	}
</style>
