<template>
	<div class="ui inverted vertical superheader center aligned segment">
		<div class="ui container" id="navigation">
			<div class="ui large secondary inverted pointing menu">
				<router-link v-for="link in headerLinks" :to="{ name: link.name }" v-bind:key="link.name" class="item" v-bind:class="{ active: isActive(link.name) }">{{ link.label }}</router-link>

				<div class="right menu">
					<div class="item">
						<router-link :to="{ name: 'dashboard'}" class="ui inverted button" v-bind:class="{ active: isActive('dashboard') }" v-if="authenticated">Zarządzaj</router-link>
						<router-link :to="{ name: 'login'}" class="ui inverted button" v-bind:class="{ active: isActive('login') }" v-else>Logowanie</router-link>
					</div>
					<a class="collapsed item" v-on:click="toggleHeader"><i class="chevron icon" v-bind:class="chevronPosition"></i></a>
				</div>
			</div>
		</div>
		<div class="ui text container" v-if="showHeader">
			<h1>Półka z książkami</h1>
			<h2>Lista przeczytanych książek</h2>
			<h3>Krzysztof Rewak</h3>
		</div>
	</div>
</template>

<script type="text/javascript">
	import EventBus from "../event-bus.js"

	export default {
		data() {
			return {
				authenticated: false,
				headerLinks: [
					{ name: "novels", label: "Książki" },
					{ name: "authors", label: "Autorzy" },
					{ name: "tags", label: "Tagi" },
					{ name: "languages", label: "Języki" },
					{ name: "devices", label: "Nośniki" },
					{ name: "search", label: "Szukaj" },
				],
				showHeader: false,
			}
		},
		created() {
			this.showHeader = !!parseInt(this.$cookie.get("showHeader"))
		},
		computed: {
			chevronPosition: function() {
				return this.showHeader ? "up" : "down"
			}
		},
		mounted() {
			var self = this
			EventBus.$on("authentication_status", function(authenticationStatus) {
				self.authenticated = authenticationStatus
			})
		},
		methods: {
			isActive(section) {
				return section == this.$route.meta.section
			},
			toggleHeader() {
				this.$cookie.set("showHeader", !this.showHeader ? 1 : 0, { expires: "1Y" })
				this.showHeader = !this.showHeader
			},
		}
	} 
</script>

<style lang="scss">
	.superheader {
		&.segment {
			background-size: 100% !important;
			background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../static/background.jpg") !important;
			padding: 1em 0em;
		}

		h1 {
			font-size: 5em;
			font-weight: normal;
			margin-bottom: 0em;
			margin-top: 0.5em !important;
		}

		h2 {
			font-size: 1.75em;
			font-weight: normal;
		}

		h3 {
			margin-bottom: 3em;
		}

		a.item.active {
			border: 0px !important;
			margin: 0px !important;
		}

		.right.menu > .item > a {
			top: 3px !important;
		}

		.collapsed.item {
			padding-left: 0px;
		}

	}

	@media only screen and (max-width: 700px) {
		#navigation {
			display: none;
		}
		
		.superheader {

			&.segment {
				min-height: 240px;
			}

			h1 {
				font-size: 2em;
				margin-top: 1.5em;
			}
			h2 {
				font-size: 1.5em;
				margin-top: 0.5em;
			}

		}
	}

	#search {
		text-align: left;

		.category > .name {
			padding: .5em;
		}

		.results {
			font-size: 13px;
			min-width: 28em;
			width: auto;
		}

		.result {
			display: flex;
			padding: .5em;
			
			.image {
				float: left;
				margin-right: .5em;
				width: auto;
			}
			
			.content {
				flex: 1;
				white-space: nowrap;
			}
		}

	}
</style>
