<template>
	<div v-if="dataset.length > 0">
		<h1>{{ tableTitle }}</h1>

		<table class="ui very basic very compact table">
			<thead>
				<tr>
					<th v-for="column in columns">
						<div v-if="column.label">
							{{ column.label }}
							<i class="sorting icon" v-if="column.sorting_label" v-bind:class="getSortingClass(column.sorting_label)" v-on:click="sort(column.sorting_label)"></i>
						</div>
						<div class="subheader" v-if="column.sublabel">
							{{ column.sublabel }}
							<i class="sorting icon" v-if="column.sorting_sublabel" v-bind:class="getSortingClass(column.sorting_sublabel)" v-on:click="sort(column.sorting_sublabel)"></i>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in dataset">
					<td v-for="column in columns" :key="item.id">
						<img v-if="column.image_source" v-bind:src="baseUrl + item[column.image_source]" class="ui clickable tiny rounded image" v-bind:class="{ clickable: !!column.route_dataset }" v-on:click="go(column, item)">

						<i v-if="column.flag_symbol" class="flag" v-bind:class="[ { clickable: !!column.route_dataset }, item[column.flag_symbol] ]" v-on:click="go(column, item)"></i>

						<span v-if="column.strong_value" class="strong" v-bind:class="{ clickable: !!column.route_dataset }" v-on:click="go(column, item)">{{ item[column.strong_value] }}</span>
						<span v-if="column.text_value" v-bind:class="{ clickable: !!column.route_dataset }" v-on:click="go(column, item)">{{ item[column.text_value] }}</span>
						<span v-if="column.sub_text_value" class="subheader">{{ item[column.sub_text_value] }}</span>

						<span v-if="column.list">
							<span v-for="item in item[column.list]" v-bind:class="{ clickable: !!column.route_dataset }" v-on:click="go(column, item)">
								{{ item.label }}
							</span>
						</span>

						<span v-if="column.is_flag" v-bind:class="{ clickable: !!column.route_dataset }" v-on:click="go(column, item[column.language])">
							<i class="flag" v-bind:class="item[column.language].symbol"></i>
							{{ item[column.language].name }}
						</span>
						<span class="subheader" v-bind:class="{ clickable: !!column.route_dataset }" v-if="column.original_language" v-on:click="go(column, item[column.original_language])">
							<i class="flag" v-bind:class="item[column.original_language].symbol"></i>
							{{ item[column.original_language].name }}
						</span>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="top seperated" v-if="!allFetched">
			<button class="ui fluid large button" v-on:click.prevent="fetchMoreData" v-bind:class="{ loading: loading }">
				<i class="refresh icon"></i>
				Pobierz więcej
			</button>
		</div>

		<div v-else class="ui icon message top seperated">
			<i class="warning circle icon"></i>
			<div class="content">
				<div class="header">Koniec listy</div>
				<p>Nie znaleziono nic więcej.</p>
			</div>
		</div>
	</div>

	<div class="ui" v-else>
		<div class="ui active inverted dimmer">
			<div class="ui text loader">Ładowanie...</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	export default {
		data() {
			return {
				allFetched: false,
				columns: [],
				dataset: [],
				datasetName: "novels",
				fetchLimit: null,
				loading: false,
				sortAscending: true,
				sortPivot: "",
				tableTitle: "",
			}
		},
		created() {
			this.reloadDatasetName()
			this.fetchInitialData()
		},
		methods: {
			clearData() {
				this.columns = []
				this.dataset = []
				this.allFetched = false
				this.fetchLimit = null
				this.sortAscending = true
				this.sortPivot = ""
				this.tableTitle = ""
			},
			reloadDatasetName() {
				this.datasetName = this.$route.name
			},
			reloadData() {
				this.fetchInitialData()
			},
			fetchInitialData() {
				var self = this
				self.clearData()

				self.$http.get(this.apiUrl + "table/" + self.datasetName).then(function(table) {
					self.tableTitle = table.body.header
					self.fetchLimit = table.body.limit

					table.body.columns.forEach(function(column) {
						self.columns.push(column)
					})

					self.$http.get(this.apiUrl + self.datasetName).then(function(dataset) {
						if(dataset.body.length < self.fetchLimit) {
							self.allFetched = true
						}

						dataset.body.forEach(function(item) {
							self.dataset.push(item)
						})
					})
				})
			},
			fetchMoreData() {
				var self = this
				self.loading = true

				self.$http.get(this.apiUrl + self.datasetName, { params: {offset: self.dataset.length}}).then(function(dataset) {
					dataset.body.forEach(function(item) {
						self.dataset.push(item)
					})

					self.loading = false

					if(dataset.body.length < self.fetchLimit) {
						self.allFetched = true
					}
				})
			},
			sort(pivot) {
				if(pivot == this.sortPivot) {
					this.sortAscending = !this.sortAscending
				} else {
					this.sortAscending = true
				}

				var direction_factor = this.sortAscending ? 1 : -1
				this.dataset.sort(function(x, y) {
					if(typeof x[pivot] != "string") {
						return direction_factor * (x[pivot] - y[pivot])
					}

					return direction_factor * (x[pivot].localeCompare(y[pivot]))
				})

				this.sortPivot = pivot
			},
			getSortingClass(pivot) {
				if(pivot == this.sortPivot) {
					if(this.sortAscending) {
						return "caret up"
					}

					return "caret down"
				}

				return "sort"
			},
			go(column, item) {
				if(column.route_dataset) {
					this.redirect(column.route_dataset, item[column.route_anchor])
				}
			}
		},
		watch: {
			"$route" (to, from) {
				this.reloadDatasetName()
				this.reloadData()
			}
		}
	}
</script>

<style lang="scss">
	table {
		width: 100%;

		.sorting.icon {
			cursor: pointer;
		}

		span {
			display: block;
		}

		.strong {
			font-weight: 700;
		}
	}
</style>
