<template>
	<div>
		<div class="ui fluid huge right labeled input">
			<input placeholder="Przeszukaj tytuły, nazwiska i nazwy..." ref="search" type="text" autofocus="autofocus" v-model="searchPhrase">
			<div class="ui label">
				<i class="icon search"></i>
				szukaj
			</div>
		</div>

		<div v-if="!anyResults" class="ui icon message top seperated">
			<i class="warning circle icon"></i>
			<div class="content">
				<div class="header">Brak wyników</div>
				<p>Nie znaleziono nic dla poszukiwanej frazy <code>{{ searchPhrase }}</code>.</p>
			</div>
		</div>

		<div class="ui segment" id="search-results">
			<div v-if="!loading">
				<div v-if="anyResults">
					<div v-for="dataset in foundDatasets">
						<h1><a class="ui black ribbon label">{{ dataset.name }}</a></h1>
						<div class="ui middle aligned relaxed selection list">
							<div v-for="result in dataset.results" v-on:click="redirect(result.dataset, result.id)" class="clickable item">
								<img v-if="result.image" class="ui mini rounded image" v-bind:src="baseUrl + result.image">
								<i v-else class="icon" v-bind:class="result.icon"></i>
								<div class="content">
									<a class="title">{{ result.title }}</a>
									<div class="summary" v-if="result.description">{{ result.description }}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="ui" v-else>
				<div class="ui active inverted dimmer">
					<div class="ui text loader">Ładowanie...</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	export default {
		data() {
			return {
				foundDatasets: [],
				foundResults: 0,
				loading: false,
				searchPhrase: "",
				timeout: null
			}
		},
		computed: {
			anyResults: function() {
				if(!this.foundDatasets.length) {
					return true
				}
				return this.foundResults > 0
			}
		},
		created() {
			var param = this.$route.params.phrase
			if(param) {
				this.searchPhrase = this.$route.params.phrase
			}
		},
		mounted() {
			this.$refs.search.focus()
		},
		methods: {
			search() {
				var self = this
				self.loading = true
				this.foundDatasets = []
				this.foundResults = 0

				self.$router.push({ name: "search-results", params: { phrase: self.searchPhrase } })

				self.$http.get(self.apiUrl + "search/" + self.searchPhrase).then(function(response) {
					self.foundDatasets = []
					var result = response.body.results
					
					for(const key of Object.keys(result)) {
						self.foundDatasets.push(result[key])
						self.foundResults += result[key].results.length
					}

					self.loading = false
				})
			},
			reset() {
				this.$router.push({ name: "search" })
				this.foundDatasets = []
				this.foundResults = 0
				this.loading = false
				this.searchPhrase = ""
			},
			getIcon(dataset) {
				return this.icons[dataset]
			}
		},
		watch: {
			searchPhrase: function(phrase) {
				var self = this

				clearTimeout(self.timeout)
				self.timeout = setTimeout(function () {
					if(phrase) {
						self.search()
					} else {
						self.reset()
					}
				}, 500)
			}
		}
	}
</script>

<style lang="scss">
	#search-results {
		margin-top: 3em;
		border: 0px;
		box-shadow: none;

		a.title {
			color: rgba(0, 0, 0, 0.9);
			font-weight: 600;
		}

		.icon {
			font-size: 2em;
			width: 38px;
			line-height: 1em;
		}

	}
</style>
