<template>
	<div v-if="dataset.length > 0">
		<h1>{{ tableTitle }}</h1>

		<table class="ui very basic very compact table">
			<thead>
				<tr>
					<th v-for="column in columns">
						<div v-if="column.label">
							{{ column.label }}
						</div>
					</th>
					<th>akcje</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in dataset">
					<td v-for="column in columns" :key="item.id">
						<img v-if="column.image_source" v-bind:src="baseUrl + item[column.image_source]" class="ui mini rounded image">

						<span v-if="column.strong_value" class="strong">{{ item[column.strong_value] }}</span>
						<span v-if="column.text_value">{{ item[column.text_value] }}</span>

						<span v-if="column.list">
							<span v-for="item in item[column.list]">
								{{ item.label }}
							</span>
						</span>
					</td>
					<td>
						<router-link :to="{ name: 'dashboard.novel', params: { id: item.id } }" class="ui tiny green icon button">
							<i class="pencil icon"></i>
						</router-link>
						<button class="ui tiny red icon button">
							<i class="trash icon"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="ui" v-else>
		<div class="ui active inverted dimmer">
			<div class="ui text loader">Ładowanie...</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	export default {
		data() {
			return {
				columns: [],
				dataset: [],
				datasetName: "novels",
				loading: false,
				tableTitle: "",
			}
		},
		created() {
			this.reloadDatasetName()
			this.fetchInitialData()
		},
		methods: {
			clearData() {
				this.columns = []
				this.dataset = []
				this.sortAscending = true
				this.sortPivot = ""
				this.tableTitle = ""
			},
			reloadDatasetName() {
				this.datasetName = "novels"
			},
			reloadData() {
				this.fetchInitialData()
			},
			fetchInitialData() {
				var self = this
				self.clearData()

				self.$http.get(this.apiUrl + "dashboard/table/" + self.datasetName).then(function(table) {
					self.tableTitle = table.body.header

					table.body.columns.forEach(function(column) {
						self.columns.push(column)
					})

					self.$http.get(this.apiUrl + "dashboard/" + self.datasetName).then(function(dataset) {
						dataset.body.forEach(function(item) {
							self.dataset.push(item)
						})
					})
				})
			},
		},
		watch: {
			"$route" (to, from) {
				this.reloadDatasetName()
				this.reloadData()
			}
		}
	}
</script>

<style lang="scss">
	table {
		span {
			display: block;
		}

		.strong {
			font-weight: 700;
		}
	}
</style>
