<template>
	<div id="dashboard">
		<h1>Panel administracyjny</h1>

		<div class="ui grid">
			<div class="four wide column" v-for="item in items" v-bind:key="item.name">
				<router-link :to="{ name: item.routeName }" class="ui fluid large labeled icon button" v-bind:class="item.color">
					<i class="icon" v-bind:class="item.icon"></i>
					{{ item.label }}
					<i class="background icon" v-bind:class="item.icon"></i>
				</router-link>
			</div>
			<div class="four wide column">
				<a class="ui fluid large red labeled icon button" v-on:click="logout">
					<i class="sign out icon"></i>
					Wyloguj się
					<i class="background sign out icon"></i>
				</a>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	import EventBus from "../../event-bus.js"

	export default {
		data() {
			return {
				items: [
					{ label: "Zarządzaj książkami", icon: "book", routeName: "dashboard.novels", color: "blue" },
					{ label: "Zarządzaj autorami", icon: "users", routeName: "dashboard", color: "blue" },
					{ label: "Zarządzaj tagami", icon: "tags", routeName: "dashboard", color: "blue" },
					{ label: "Zarządzaj językami", icon: "flag", routeName: "dashboard", color: "blue" },
					{ label: "Zarządzaj nośnikami", icon: "tablet", routeName: "dashboard", color: "blue" },
					{ label: "Statystyki czytania", icon: "bar chart", routeName: "dashboard", color: "teal" },
					{ label: "Google Analytics", icon: "google", routeName: "dashboard", color: "yellow" },
					{ label: "Backup bazy danych", icon: "database", routeName: "dashboard", color: "green" },
					{ label: "Profil użytkownika", icon: "user", routeName: "dashboard", color: "green" },
					{ label: "Zmień hasło", icon: "lock", routeName: "password", color: "green" },
				],
			}
		},
		methods: {
			logout() {
				this.$http.post(this.apiUrl + "logout").then(function(response) {
					if(response.data.success) {
						EventBus.$emit("authentication_status", false)
						this.$router.push({ name: "home" })
					}
				})
			}
		}
	}
</script>

<style lang="scss">
	#dashboard {
		h1 {
			margin-bottom: 2em;
		}

		a {
			$padding: 3em;
			padding-top: $padding;
			padding-bottom: $padding;
			position: relative;

			i {
				font-size: 150%;

				&.background {
					position: absolute;
					top: 25px;
					left: 100px;
					font-size: 600%;
					opacity: 0.15;
				}
			}
		}
	}
</style>
