<template>
	<form id="edit-item">
		<h1>{{ tableTitle }}</h1>

		<div class="ui form">
			<div class="ui grid">
				<div class="eight wide column" v-for="column in fields" >
					<div class="field" v-for="field in column" :key="field.id">
						<label>{{ field.label }}</label>
						<component :is="field.type" v-bind:field="field">aaa</component>
					</div>
				</div>
			</div>
		</div>
		<button class="ui fluid green icon labeled save button">
			<i class="check icon"></i>
			Zapisz
		</button>
	</form>
</template>

<script type="text/javascript">
	import CheckboxField from "./fields/CheckboxField"
	import DropdownField from "./fields/DropdownField"
	import ImageField from "./fields/ImageField"
	import TextAreaField from "./fields/TextAreaField"
	import TextField from "./fields/TextField"

	export default {
		data() {
			return {
				fields: null,
				tableTitle: "Edycja"
			}
		},
		components: { CheckboxField, DropdownField, ImageField, TextAreaField, TextField },
		created() {
			var self = this

			self.$http.get(this.apiUrl + "/dashboard/novels/" + self.$route.params.id).then(function(dataset) {
				if(dataset.body) {
					self.fields = dataset.body
				}
			})
		}
	}
</script>

<style lang="scss">
	#edit-item {
		h1 {
			margin-bottom: 1em;
		}

		& > div {
			margin-bottom: 1em;

			& > .ui.label {
				width: 200px;
			}
		}

		.upload.image.buttons > div {
			display: block;
			margin: 2em;
		}

		.save.button {
			margin-top: 5em;
		}
	}
</style>