<template>
	<detail-template>
		<div slot="card" v-if="item">
			<div class="image">
				<div class="ui dimmer">
					<div class="content">
						<div class="center">
							<div class="ui inverted button">Add Friend</div>
						</div>
					</div>
				</div>
				<img v-bind:src="baseUrl + item.portrait">
			</div>
			<div class="content">
				<span class="header">{{ item.first_name }} {{ item.last_name }}</span>
			</div>
			<div class="extra content">
				<a v-on:click="redirect('language', item.language.id)">
					<i class="flag icon"></i>
					język prac: {{ item.language.name }}
				</a>
			</div>
		</div>

		<div slot="content" v-if="item">
			<h1>{{ item.first_name }} {{ item.last_name }}</h1>

			<h3>Lista napisanych książek</h3>
			<novels-list></novels-list>
		</div>
	</detail-template>
</template>

<script type="text/javascript">
	import Detail from "../../mixins/Detail"
	export default { mixins: [Detail] }
</script>
