<template>
	<div v-if="$parent.item" id="details">
		<div class="ui card" id="details-card" v-if="!!this.$slots.card">
			<slot name="card"></slot>
		</div>
		<div id="details-content">
			<slot name="content"></slot>
		</div>
	</div>

	<div class="ui" v-else>
		<div class="ui active inverted dimmer">
			<div class="ui text loader">Ładowanie...</div>
		</div>
	</div>
</template>

<style lang="scss">
	#details {
		display: flex;
		flex-direction: row-reverse;

		#details-content {
			width: 100%;
			padding-right: 3em;

			h1 {
				font-size: 3em;
			}
		}

		#details-card {
			width: 375px;

			.content {
				padding: 0.5em 1em;

				&:last-child {
					padding-bottom: 1.25em;
				}
				
				.header {
					font-size: 125%;
				}
			}

			.extra {
				opacity: 0.75;
			}
		}

		&.editable {

			h1 {
				input {
					border: 0px;
					font-family: inherit;
					font-weight: 700;
					display: inline-block;
				}
			}

		}
	}
</style>
