<template>
	<detail-template>
		<div slot="content" v-if="item">
			<h1> {{ item.name }}</h1>

			<h3>Lista książek ({{ item.novels.length }})</h3>
			<novels-list></novels-list>
		</div>
	</detail-template>
</template>

<script type="text/javascript">
	import Detail from "../../mixins/Detail"
	export default { mixins: [Detail] }
</script>
