<template>
	<detail-template>
		<div slot="content" v-if="item">
			<div class="ui secondary pointing menu">
				<div class="item">
					<i class="flag" v-bind:class="item.symbol"></i> język {{ item.name }}
				</div>
				<div class="item clickable" v-if="showWritten" v-bind:class="{ active: activeTable == 'written' }" v-on:click="changeTable('written')">
					Napisane w tym języku ({{ item.written_novels.length }})
				</div>
				<div class="item clickable" v-if="showRead" v-bind:class="{ active: activeTable == 'read' }" v-on:click="changeTable('read')">
					Przeczytane w tym języku ({{ item.read_novels.length }})
				</div>
			</div>

			<table class="ui very basic very compact table">
				<thead>
					<tr>
						<th class="collapsing"></th>
						<th>tytuł</th>
						<th>rok wydania</th>
						<th>l. stron</th>
						<th>data przeczytania</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="novel in item.novels" v-on:click="redirect('novel', novel.id)" class="clickable">
						<td><img v-bind:src="baseUrl + novel.cover" class="ui mini rounded image"></td>
						<td>
							<strong>{{ novel.title }}</strong>
							<div class="subheader">{{ novel.original_title }}</div>
						</td>
						<td>{{ novel.publication_year }}</td>
						<td>{{ novel.pages }}</td>
						<td>
							{{  novel.read_at_realdate }}<br>
							<div class="subheader">{{ novel.read_at_dateforhuman }}</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</detail-template>
</template>

<script type="text/javascript">
	import Detail from "../../mixins/Detail"

	export default { 
		mixins: [Detail],
		data() {
			return {
				activeTable: null,
				showRead: false,
				showWritten: false,
			}
		},
		methods: {
			callbackAfterFetchingData() {
				this.initializeTables()
			},
			initializeTables() {
				if(this.item.read_novels.length) {
					this.showRead = true
				}

				if(this.item.written_novels.length) {
					this.showWritten = true
					this.activeTable = "written"
				} else {
					this.activeTable = "read"
				}
			},
			changeTable(table) {
				this.activeTable = table
			}
		},
		watch: {
			activeTable: function(n) {
				if(n == "read") {
					this.item.novels = this.item.read_novels
				}
				if(n == "written") {
					this.item.novels = this.item.written_novels
				}
			}
		}
	}
</script>
