<template>
	<detail-template>
		<div slot="card" v-if="item">
			<div class="image">
				<img v-bind:src="baseUrl + item.cover">
			</div>
			<div class="content">
				<span class="header"><em>{{ item.title }}</em></span>
				<div class="meta" v-if="item.original_language.id != item.language.id">
					<span class="date">oryg. <em>{{ item.original_title }}</em></span>
				</div>
			</div>
			<div class="extra content">
				<a v-for="author in item.authors" v-on:click="redirect('author', author.id)">
					<i class="user icon"></i>
					{{ author.label }}<br>
				</a>
			</div>
			<div class="extra content">
				<a v-on:click="redirect('language', item.original_language.id)">
					<i class="flag icon"></i>
					oryginalny język: {{ item.original_language.name }}
				</a>
			</div>
			<div class="extra content">
				<span>
					<i class="book icon"></i>
					{{ item.pages }} stron
				</span>
			</div>
			<div class="extra content">
				<span>
					<i class="calendar icon"></i>
					wydana w {{ item.publication_year }}
				</span>
			</div>
		</div>

		<div slot="content" v-if="item">
			<h1>{{ item.title }}</h1>

			<h3 class="ui header">
				<i class="clock icon"></i>
				<div class="content">
					<div class="sub header">przeczytana</div>
					{{ item.read_at_realdate }}
				</div>
			</h3>

			<h3 class="ui header">
				<i class="tablet icon"></i>
				<div class="content">
					<div class="sub header">nośnik</div>
					<a class="clickable" v-on:click="redirect('device', item.device.id)">{{ item.device.name }}</a>
				</div>
			</h3>

			<h3 class="ui header">
				<i class="globe icon"></i>
				<div class="content">
					<div class="sub header">język</div>
					<a class="clickable" v-on:click="redirect('language', item.language.id)">{{ item.language.name }}</a>
				</div>
			</h3>

			<h3 class="ui header" v-if="item.reread">
				<i class="check icon"></i>
				<div class="content">
					<div class="sub header">dodatkowe informacje</div>
					ponownie czytana
				</div>
			</h3>

			<h3 class="ui header" v-if="item.summary">
				<i class="quote right icon"></i>
				<div class="content">
					<div class="sub header">opis</div>
					<div class="ui summary" v-html="item.summary"></div>
				</div>
			</h3>

			<h3 class="ui header">
				<i class="hashtag icon"></i>
				<div class="content">
					<div class="sub header">tagi</div>
					<div class="ui tag labels">
						<a class="ui label" v-for="tag in item.tags" v-on:click="redirect('tag', tag.id)">{{ tag.label }}</a>
					</div>
				</div>
			</h3>
		</div>
	</detail-template>
</template>

<script type="text/javascript">
	import Detail from "../../mixins/Detail"
	export default { mixins: [Detail] }
</script>

<style lang="scss">
	#details {
		.ui.tag.labels {
			padding-top: .5em;
		}

		.header > .icon {
			vertical-align: top;
		}

		.summary {
			margin-top: .5em;
			font-size: 14px;
			font-weight: 400;
			text-align: justify;
			text-indent: 1.75em;
		}
	}
</style>
