<template>
	<table class="ui very basic very compact table">
		<thead>
			<tr>
				<th class="collapsing"></th>
				<th>tytuł</th>
				<th>rok wydania</th>
				<th>l. stron</th>
				<th>data przeczytania</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="novel in $parent.$parent.item.novels" v-on:click="redirect('novel', novel.id)" class="clickable">
				<td><img v-bind:src="baseUrl + novel.cover" class="ui mini rounded image"></td>
				<td>
					<strong>{{ novel.title }}</strong>
					<div class="subheader">{{ novel.original_title }}</div>
				</td>
				<td>{{ novel.publication_year }}</td>
				<td>{{ novel.pages }}</td>
				<td>
					{{  novel.read_at_realdate }}<br>
					<div class="subheader">{{ novel.read_at_dateforhuman }}</div>
				</td>
			</tr>
		</tbody>
	</table>
</template>
