<template>
	<div class="ui toggle checkbox">
		<input type="checkbox" v-bind:name="field.name">
		<label>Czytana ponownie?</label>
	</div>
</template>

<script type="text/javascript">
	export default {
		props: ["field"]
	}
</script>