<template>
	<div class="ui fluid search selection dropdown" ref="dropdown" v-bind:class="{ multiple: field.options.isMultiple }">
		<input type="hidden" v-bind:name="field.name">
		<i class="dropdown icon"></i>
		<div class="default text">wybierz</div>
		<div class="menu">
			<div class="item" v-for="option in field.options.dataset" v-bind:data-value="option.value">
				<i class="flag" v-bind:class="option.i" v-if="field.options.isFlag"></i>
				<i class="icon" v-bind:class="option.i" v-else></i>
				{{ option.label }}
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	export default {
		props: ["field"],
		mounted: function() {
			for(var value of this.field.value) {
				$(this.$refs.dropdown).dropdown("set selected", value)
			}
		}
	}
</script>