<template>
	<div class="ui centered card">
		<div class="blurring dimmable image" ref="imageblock">
			<div class="ui dimmer">
				<div class="content">
					<div class="upload image buttons center">
						<div class="ui inverted icon labeled button">
							<i class="upload icon"></i>
							Wgraj nową okładkę
						</div>
						<div class="ui inverted icon labeled button">
							<i class="search icon"></i>
							Znajdź okładkę
						</div>
						<div class="ui red icon labeled button">
							<i class="close icon"></i>
							Usuń okładkę
						</div>
					</div>
				</div>
			</div>
			<img v-bind:src="baseUrl + '/images/covers/_blank.png'">
		</div>
	</div>
</template>

<script type="text/javascript">
	export default {
		props: ["field"],
		mounted: function() {
			$(this.$refs.imageblock).dimmer({
				on: 'hover'
			})
		}
	}
</script>