<template>
	<div class="ui fluid icon input">
		<input v-bind:name="field.name" v-bind:placeholder="field.label" type="text" v-model="field.value">
		<i class="sort ascending icon" v-bind:class="{ alphabet: field.options.type == 'text', numeric: field.options.type == 'number' }"></i>
	</div>
</template>

<script type="text/javascript">
	export default {
		props: ["field"]
	}
</script>